<!DOCTYPE html>
<html>
    <head>
        <title>Tic Tac Toe</title>
        <meta name="viewport" content='width=device-width, initial-scale=1.0'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <style>
            td {
                border: 5px solid white;
                width: 150px;
                height: 150px;
                font-size: 30px;
                text-align: center;
            }
            td > a {
                font-size: 18px;
            }
            .container {
                margin: auto;
                max-width: 500px;
                padding: 50px;
            }

            button {
                margin: 5px;
            }
            
            #buttons {
                text-align: center;
                margin: auto;
                max-width: 500px;
            }

            #winner {
                text-align: center;
                margin: 0px;
            }

        </style>
    </head>
    <body>
        <div id="bodyContainer" class="container">
            <div id="winner">
                {% if win == True %}
                <h2 class="alert alert-success">Winner is {{ winner }} !</h2>
                {% endif %}
            </div>

            <table class="table-dark" >
                <tr>
                    <td id="1">
                                {% if game[0] == 'X' or game[0] == 'O' %}
                                    {{ game[0] }}
                                {% else %}
                                <a href="{{ url_for('play', row=game[0])
                                    }}"><button class="btn btn-success">Player {{ turn }} </button></a>
                                {% endif %}
                    </td>
                    <td id="2">
                                {% if game[1] == 'X' or game[1] == 'O' %}
                                    {{ game[1] }}
                                {% else %}
                                <a href="{{ url_for('play', row=game[1])
                                    }}"><button class="btn btn-success">Player {{ turn }} </button></a>
                                {% endif %}
                    </td>
                    <td id="3">
                                {% if game[2] == 'X' or game[2] == 'O' %}
                                    {{ game[2] }}
                                {% else %}
                                <a href="{{ url_for('play', row=game[2])
                                    }}"><button class="btn btn-success">Player {{ turn }} </button></a>
                                {% endif %}
                    </td>
                </tr>
                <tr>
                    <td id="4">
                                {% if game[3] == 'X' or game[3] == 'O' %}
                                    {{ game[3] }}
                                {% else %}
                                <a href="{{ url_for('play', row=game[3])
                                    }}"><button class="btn btn-success">Player {{ turn }} </button></a>
                                {% endif %}
                    </td>
                    <td id="5">
                                {% if game[4] == 'X' or game[4] == 'O' %}
                                    {{ game[4] }}
                                {% else %}
                                <a href="{{ url_for('play', row=game[4])
                                    }}"><button class="btn btn-success">Player {{ turn }} </button></a>
                                {% endif %}
                    </td>
                    <td id="6">
                                {% if game[5] == 'X' or game[5] == 'O' %}
                                    {{ game[5] }}
                                {% else %}
                                <a href="{{ url_for('play', row=game[5])
                                    }}"><button class="btn btn-success">Player {{ turn }} </button></a>
                                {% endif %}
                    </td>
                </tr>
                <tr>
                    <td id="7">
                                {% if game[6] == 'X' or game[6] == 'O' %}
                                    {{ game[6] }}
                                {% else %}
                                <a href="{{ url_for('play', row=game[6])
                                    }}"><button class="btn btn-success">Player {{ turn }} </button></a>
                                {% endif %}
                    </td>
                    <td id="8">
                                {% if game[7] == 'X' or game[7] == 'O' %}
                                    {{ game[7] }}
                                {% else %}
                                <a href="{{ url_for('play', row=game[7])
                                    }}"><button class="btn btn-success">Player {{ turn }} </button></a>
                                {% endif %}
                    </td>
                    <td id="9">
                                {% if game[8] == 'X' or game[8] == 'O' %}
                                    {{ game[8] }}
                                {% else %}
                                <a href="{{ url_for('play', row=game[8])
                                    }}"><button class="btn btn-success">Player {{ turn }} </button></a>
                                {% endif %}
                    </td>
                </tr>
            </table>
            <div id="buttons">
                <form action="/" method="post" accept-charset="utf-8">
                    <button class="btn btn-info" type="submit">Resete game</button>
                </form>

                {% if moves and win == False and (moves_left|length) > 0 %}
                    <a href="/ai"><button id="ai_btn" class="btn btn-danger"
                            type="submit">Let AI play</button></a>   

                    <br>
                    <a href="/undo"><button id="undo" class="btn btn-danger" type="submit">Undo move</button></a>   
                {% endif %}

                {% if best_move >= 0 and (moves_left|length) > 0 %}
                <h3 class="alert alert-info">Best next move is {{ best_move
                    }} </h3>
                {% endif %}
            </div>
        </div>
   </body>
</html>
