<!DOCTYPE html>
<html>
    <head>
        <title>Tic Tac Toe</title>
        <meta name="viewport" content='width=devide-width, initial-scale=1.0'>
        <style>
            table {
                border-collapse: collapse;
            }
            td {
                border: 1px solid black;
                width: 150px;
                height: 150px;
                font-size: 30px;
                text-align: center;
            }
            td > a {
                font-size: 18px;
            }
            .container {
                margin: auto;
                max-width: 500px;
                padding: 50px;
            }

        </style>
    </head>
    <body>
        <div id="bodyContainer" class="container">
        <table>
            {% for i in range(3) %}
                <tr>
                    {% for j in range(3) %}
                        <td>
                            {% if game[i][j] %}
                                {{ game[i][j] }}
                            {% else %}
                                <a href="{{ url_for('play', row=i, col=j) }}">Play {{ turn }} here.</a>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <form action="/" method="post" accept-charset="utf-8">
            <button type="submit">Resete game</button>
        </form>

        <form action="/undo" method="get" accept-charset="utf-8">
            <button type="submit">Undo</button>
        </form>


        </div>
   </body>
</html>
